.container {
  text-align: center;
}

.box {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  line-height: 100px;
}

.board-one {
  position: absolute;
  /* top: 1;
  left: 30px; */
  display: inline-flex;
  flex-wrap: wrap;
  width: 410px;
  background-color: lightblue;
}

.board-two {
  position: relative;
  bottom: -250px;
  /* left: -485px; */
  display: inline-flex;
  flex-wrap: wrap;
  width: 410px;
  background-color: lightblue;
}

.input-header {
  position: relative;
  bottom: -40px;
}

.input-header-two {
  position: relative;
  bottom: -370px;
}

.studentForm {
  position: relative;
  bottom: -375px;
  right: 200px;
}

.studentInput {
  position: relative;
  bottom: -350px;
  right: 200px;
}

.displayStudentAnswer {
  position: relative;
  left: 400px;
  bottom: 145px;
}

.correctAnswer {
  position: relative;
  bottom: -255px;
  left: 200px;
}
